.jumbotron{
    background-color: transparent;
    color: black;

}
.panel-heading{
    background-color:pink;
}
.panel{
    background-color: transparent
}
p{
    font-size: 16px;
    color: white;
    
}

img{
    border-radius: 8px;
    width: 79px;
    height: 70px;
    

}

  


  body {
    background-image: url("https://thumbs.gfycat.com/FaithfulEvergreenCornsnake-size_restricted.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    
  }
  

