.jumbotron{
    background-color: purple;
    color: white;

}
.panel-heading{
    background-color:yellow;
}
.panel{
    background-color: aqua;
}
p{
    font-size: 10.5px;
}

img{
    border-radius: 8px;
    width: 79px;
    height: 79px;
    

}

